<footer class="site-footer">
    <div class="footer-container">
        
        <div class="footer-col">
            <h3>Steamy Cake Creamery💖❤</h3>
            <p>Baking sweet memories since 2020💖 </p>
            <p class="footer-name">
                 ❤💖Evenage Thelma Gorwa❤💖 </p>
        </div>

        <div class="footer-col">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="index.html"> Home</a></li>
                <li><a href="cake.html"> Cakes</a></li>
                <li><a href="about.html"> About</a></li>
                <li><a href="contactUs.html"> Contact</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>Contact💖</h4>
            <p>Cape Town, SA</p>
            <p>WhatsApp: 0695941217</p>
            <p>< charue.vyago2019@gmail.com</p>
        </div>

    </div>
    
    <div class="footer-bottom">
        <p>© 2026 Steamy Cake Creamery💖❤. All rights reserved.</p>
        <p id="datetime" class="datetime"></p>
    </div>
</footer>