<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>b</title>
    
    
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="css/cake.css">
</head>

<header>
    <div class="container">
    <h1><a href="index.html" >Steamy Cake Creamery❤</a></h1>
    <nav>
        <a href="index.html">Home</a>
        <a href="cake.html">Cakes</a>
        <a href="order.html">Order</a>
        <a href="contactUs.html">Contact</a>
        <a href="about.html">About</a>
       
    </nav>
    </div>
</header>


